<!doctype html>
  <html>
		
		<title>:Create Project</title>
		<style>
			#Name {

				width: 200px
			}

			#Author {

				width: 200px
			}

			#Notes {

				width: 400px
			}




		</style>
		
		</head>

		<body>
			<div id=input>
			
			<form>
			
			<label>Project Name:</label>
			<input id="Name" type="text">
			<hr>
			
			<label>Project Author:</label>
			<input id="Author" type="text">
			<hr>
			
			<label>Project Notes:</label>
			<input id="Notes" type="text">
			<hr>
			
			<input type="submit">
			
			</form>
			

		</body>
	</html>
