{% extends "base.html" %}

{% block content %}		
		
		
			
<form method="Post">
			
			<label>UWI:</label>
			<input name="UWI" type="text">
			<hr>
			
			<label>Lease name:</label>
			<input name="Lease_name" type="text">
			<hr>
			
			<label>Country:</label>
			<textarea name="country" ></textarea>
			<hr>

			<label>State/Province:</label>
			<textarea name="state" ></textarea>
			<hr>

			<label>County/Parish:</label>
			<textarea name="county" ></textarea>
			<hr>
			
			<input type="submit">
			
</form>
			


{% endblock %}
